<div style="width: 400px; margin: auto;" >
  <div class="modal-header">
    <h4 class="modal-title">Informations of apartment</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="id">id</label>
        <div class="input-group">
          <input id="a.id" class="form-control" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="address">address</label>
        <div class="input-group">
          <input id="a.address" class="form-control"disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="price">price</label>
        <div class="input-group">
          <input id="a.price"  class="form-control"disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="room">room</label>
        <div class="input-group">
          <input id="a.room" class="form-control" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="area">area</label>
        <div class="input-group">
          <input id="a.area" class="form-control" disabled>
        </div>
      </div>
    </form>

  </div>
    <a href="/apartments" class="btn btn-success">Back to apartments</a>
</div>
